* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-image: linear-gradient(90deg, rgb(40, 91, 230), rgb(0, 145, 255));
}
.container {
  width: 60vw;
  margin: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
h1 {
  color: rgb(242, 249, 242);
}
h2 {
  color: greenyellow;
  text-decoration: underline;
  margin: 4px;
}
.pass {
  border: 2px solid rgb(5, 32, 233);
  background-color: white;
  width: 20vw;
  height: 20px;
  padding: 10px;
  margin-top: 12px;
  border-radius: 15px;
  position: relative;
}
button {
  width: 20vw;
  padding: 10px;
  margin-top: 12px;
  border-radius: 10px;
  background-color: green;
  color: white;
  font-size: 25px;
  font-weight: 400;
}
button img {
  filter: invert();
}
/* adding responsiveness */
@media (max-width:600px) {
    .container{
        width: 90vw;
    }
    .pass{
        width: 50vw;
    }
    button{
        width: 60vw;
    }
}
@media (min-width:600px) and (max-width:1200px) {
    .container{
        width: 90vw;
    }
    .pass{
        width: 30vw;
    }
    button{
        width: 40vw;
    }
}